{% extends 'parties/base.html' %}
{% load crispy_forms_tags %}
{% block title %}Add New Student| تسجيل طالب{% endblock %} 
{% block content %}


<div class="container mt-3" style='width: 95%; font-size: 14px'>

<!-- 1 [All  Fielde Error Messages from (forms.py)]-->

<!--{% for field in form %}
    {% for error in field.errors %}
        <div class="alert alert-danger alert-dismissible fade show text-center" role="alert">{{error|escape}}
        <a href="{% url 'home'%}" type="button" class="btn btn-close" data-bs-dismiss="alert" aria-label="close" ></a>
    </div> 
    {% endfor %}
{% endfor %}-->

<!-- 2 [Indevidual  Fielde Error Messages from (forms.py)]
 striptags لتحويل النقط رسائل عادية
{% if form.errors %}
        <div class="alert alert-danger alert-dismissible fade show text-center" role="alert">{{ form.email.errors|striptags }} 
        <a href="{% url 'home'%}" type="button" class="btn btn-close" data-bs-dismiss="alert" aria-label="close" ></a>
    </div> 
{% endif %}
-->

<!-- 3 [ optional Indevidual [sweet/alert], but using JS]

{% if form.errors %}
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script>
    var m = "{{ form.firstname.errors|striptags }}";
    swal("Denied ! ", m,"error")
</script>
{% endif %}
-->

<!-- 3 [ optional Indevidual [sweet/alert], but using JS]

{% for field in form %}
    {% for error in field.errors %}
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script>
    var m = "{{error|escape}}";
    swal("Denied ! ", m,"error")
</script>
{% endfor %}
{% endfor %}-->


<!-- Message from backend [Success views.py] -->
<div class="text-center">
{% for message in messages %}
{% if message.tags == 'success' %}
    <div class="alert alert-primary alert-dismissible fade show" role="alert">{{message}}
        <a href=" {% url 'studentform_form' %} " type="button" class="btn btn-close" data-bs-dismiss="alert" aria-label="close" ></a>
    </div>   
{% endif %}
{% endfor %}
</div>
<!-- End Message from backend -->

    <form method="POST" enctype="multipart/form-data" class=" mt-3" autocomplete="off" novalidate>
        {% csrf_token %}
        <!-- Card 1 -->
    <div class="card border-dark p-3">
        <span class="btn btn-secondary mb-4" style="cursor: default">
                خصم: 5000  &nbsp; &nbsp; |  &nbsp; &nbsp; مصروفات: 18416.59  |  &nbsp;&nbsp;  نشاط: 367 
        </span>
        <div class="row">
            <div class="col-4">{{ form.name|as_crispy_field }}</div>
            <div class="col-4">{{ form.id_number|as_crispy_field }}</div>
            <div class="col-4">{{ form.school_fees|as_crispy_field }}</div>
            <div class="col-4">{{ form.activity|as_crispy_field }}</div>
            <div class="col-4">{{ form.discount|as_crispy_field }}</div>
            <div class="col-4">{{ form.net_expenses|as_crispy_field }}</div>
            <div><hr style="border: 1px solid #007bff;"></div>
        </div>
        <div class="row">
            <div class="btn btn-secondary mb-4" style="cursor: default"> الاقساط والايصالات</div>
            <div class="col-3">{{ form.f_installment|as_crispy_field }}</div>
            <div class="col-3">{{ form.f_receipt_number|as_crispy_field }}</div>
            <div class="col-3">{{ form.s_installment|as_crispy_field }}</div>
            <div class="col-3">{{ form.s_receipt_number|as_crispy_field }}</div>
        </div>
        <div class="row">
            <div class="col-3">{{ form.th_installment|as_crispy_field }}</div>
            <div class="col-3">{{ form.th_receipt_number|as_crispy_field }}</div>
            <div class="col-3">{{ form.remaining_amount|as_crispy_field }}</div>
            <div><hr style="border: 1px solid #007bff;"></div>
        </div>
    </div>
    <br />
    <div class="card border-dark p-3">
       
        <div><hr style="border: 1px solid #007bff;"></div>
        <button type="submit" class="btn btn-outline-primary mt-3" style="width: 90px">submit</button>
    </div>

</form>
<!-- End Form -->

</div> <!--End container-->
<br >
<br >
<br >
<br >
{% endblock %}