{% block content %} {% load static %}

<!--Bottom Footer-->
<footer class="page-footer center-on-small-only pt-0 mt-5 fixed-bottom">
<div class="bottom section-padding bg-secondary">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center text-white">
                <div class="copyright">

                  <p>  &copy; {% now "Y" %} Copyright : LYS Al-Manar Account system v22.1.0 Color Print By Eng. Mohamed Gamal 01027005313 </p>

                </div>
            </div>
        </div>
    </div>
</div>
</footer>
<!--Bottom Footer-->
{% endblock content %}